body {
  margin: 0;
  padding: 0;
  background-color: #313433;
}
.header {
  color: azure;
  text-align: center;
}
.photo {
  color: aqua;
  text-align: center;
}
#cajasoltar{
  float: left;
  width: 80vh;
  height: 50vh;
  margin: 5px;
  border: 1px solid #999999;
  color: azure;
}
#cajaimagenes{
  float: left;
  width: 100%;
  margin: 5px;
  border: 1px solid #999999;
}
#cajaimagenes > img{
  padding: 5px;
  display: inline-block;
}